/**
dark_bg: #203732;
shadow: #192321;
*/

body {
  background: #daf3ee;
  font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
}

input {
  border: none;
  font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
}

#drawing_bee_app {
  bottom: 0;
  display: -webkit-box;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#main_container {
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
}

#angular_app_info {
  position: absolute;
}

#canvas {
  background: #fff;
  border: 10px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #203732;
}

#react_sidebar {
  background: #203732;
  display: -webkit-box;
  width: 20%;
}

.chat-container {
  background: #203732;
  border-left: 1px solid #27594f;
  -webkit-box-flow: 1;
  -webkit-box-orient: vertical;
  box-shadow: 1px 0 1px 0 #192321 inset;
  display: -webkit-box;
  width: 100%;
}

.chat-messages {
  -webkit-box-flex: 1;
  color: #c2eae2;
  overflow-y: auto;
}

.chat-message {
  border-top: 1px solid #28433e;
  border-bottom: 1px solid #192321;
  display: block;
  font-weight: 100;
  padding: 5px 8px;
}

.chat-author {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 400;
}

.chat-input-container {
  background: #fff;
  box-shadow: 0 1px 2px 0 #fff;
  display: -webkit-box;
  height: 50px;
  width: 100%;
}

.chat-input {
  -webkit-box-flex: 1;
  display: block;
  height: 20px;
  padding: 5px 8px 25px 8px;
}
