/**
GREENS
bright_text: #c2eae2;
dark_bg: #203732;
dark_shadow: #192321;
dark_highlight: #28433e;
light_bg: #37aa93;
light_shadow: #8bddcd;
*/

body {
  background: #333;
  font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

input {
  border: none;
  font-family: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  outline: none;
}

#drawing_bee_app {
  bottom: 0;
  display: -webkit-box;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#main_container {
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
}

#canvas_container {
  position: relative;
}

#color_palette {
  left: 0;
  position: absolute;
  top: -24px;
}

#color_palette .color-choice {
  margin: 3px;
  border-width: 2px;
  border-radius: 4px;
  border-color: #203732;
  border-style: solid;
}

#color_palette .selected {
  border-color: #fff;
}

#game_buttons {
  position: absolute;
  right: 0;
  bottom: -45px;
  border-width: 2px;
}

.button-field {
  border-top: 1px solid #8bddcd;
  border-bottom: 1px solid #203732;
  padding: 10px 12px;
  text-align: center;
}
.button-field-button {
  background: #37aa93;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 12px;
  text-shadow: 0 1px 0 #192321;
  transition: box-shadow 0.1s linear;
}
.button-field-button.disabled {
  color: #999;
  cursor: default;
  background: #ccc;
}
.button-field-button:not(.disabled):hover {
  box-shadow: 0 0 5px 1px #8bddcd;
}

.color-choice {
  display: inline-block;
  height: 15px;
  width: 15px;
}

#react_game_console {
  background: #37aa93;
  border-right: 1px solid #203732;
  box-shadow: 0 0 5px 1px #000;
  position: relative;
}

.game-console {
}

.property {
  border-top: 1px solid #8bddcd;
  border-bottom: 1px solid #203732;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}

.property-header {
  border-bottom: 1px solid #8bddcd;
  color: #c2eae2;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0 5px;
  margin: 0 15px 8px;
  text-shadow: 0 2px 0 #203732;
  text-transform: uppercase;
}

.property-edit {
  top: 33px;
  color: #8bddcd;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  text-shadow: 0 1px 0 #203732;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.property-edit:hover {
  color: #fff;
}

#canvas {
  background: #fff;
  border: 10px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000;
}

#react_sidebar {
  border-left: 1px solid #222;
  background: #203732;
  display: -webkit-box;
  position: relative;
  width: 300px;
}

.chat-container {
  background: #203732;
  -webkit-box-flow: 1;
  -webkit-box-orient: vertical;
  box-shadow: 5px 0 5px -5px #192321 inset;
  display: -webkit-box;
  width: 100%;
}

.chat-messages {
  -webkit-box-flex: 1;
  color: #c2eae2;
  overflow-y: auto;
  width: 100%;
}

.chat-message {
  border-top: 1px solid #28433e;
  border-bottom: 1px solid #192321;
  display: block;
  font-weight: 100;
  padding: 5px 8px;
  position: relative;
  word-wrap: break-word;
}

.chat-author {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}

.chat-remove {
  color: #28433e;
  display: none;
  font-size: 10px;
  font-weight: 700;
  left: 3px;
  position: absolute;
  top: 2px;
}

.chat-message:hover .chat-remove {
  display: inline-block;
}

.chat-input-container {
  background: #fff;
  display: -webkit-box;
  height: 50px;
  width: 100%;
}

.chat-input {
  -webkit-box-flex: 1;
  box-shadow: 5px 0 5px -5px #192321 inset;
  display: block;
  height: 20px;
  padding: 5px 8px 25px 8px;
}
