<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://fb.me/react-0.4.1.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
  <link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="drawing_bee_app">
  <div id="react_game_console"></div>
  <div id="main_container">
    <!--
    <div id="angular_app_info" ng-app>
      <div class="js-game-lobby" ng-controller="GameLobby">
        <div class="js-choose-username-form">
          <a href="#" ng-click="showUsernameForm = !showUsernameForm">change username</a>
          <form ng-submit="setUsername()" ng-show="showUsernameForm">
            <input type="text" class="js-username-field" placeholder="username" ng-model="username" />
          </form>
        </div>
        <div class="js-choose-username-form">
          <a href="#" ng-click="showRoomNameForm = !showRoomNameForm">create new game</a>
          <form ng-submit="setRoom()" ng-show="showRoomNameForm">
            <input type="text" class="js-room-name-field" placeholder="room name" ng-model="roomName" />
          </form>
        </div>
        <ul class="js-game-list">
          <li class="js-game" ng-repeat="room in rooms">
            Players: 
            <ul class="js-player-list">
              <li class="js-player" ng-repeat="player in room.players">
                {{ player }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    -->

    <canvas id="canvas" height="400px" width="600px"></canvas>
  </div>
  <div id="react_sidebar"></div>
</div>
<script type="text/javascript" src="js/GameConsole.js"></script>
<script type="text/javascript" src="js/ChatSidebar.js"></script>
<script type="text/javascript" src="js/Canvas.js"></script>
<script type="text/javascript" src="js/firebase_api.js"></script>
<script type="text/javascript">
__session.chat.initialize(ChatSidebar);
__session.game.initialize(GameConsole);
</script>
</body>
</html>
