<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://fb.me/react-0.4.1.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div class="container" ng-app>
    <div class="js-choose-username-form" ng-controller="UsernameForm" ng-show="showUsernameForm()">
      <form ng-submit="setUsername()">
        <input type="text" class="js-username-field" placeholder="username" ng-model="username" />
      </form>
    </div>
    <div class="js-game-lobby" ng-controller="GameLobby" ng-show="showLobby()">
      <ul class="js-game-list">
        <li class="js-game" ng-repeat="room in rooms">
          Players: 
          <ul class="js-player-list">
            <li class="js-player" ng-repeat="player in room.players">
              {{ player }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div id="react_chat"></div>
  <script src="js/firebase_api.js"></script>
  <script type="text/javascript" src="js/Chat.js"></script>
  <script type="text/javascript" src="js/UsernameForm.js"></script>
  <script type="text/javascript" src="js/GameLobby.js"></script>
</body>
</html>
